.title {
	margin-bottom: 30px;	
	padding: 20px;
	position: relative;
	max-width: 800px;	
	@include maxw(table_max) {
		padding: 10px;
	}
	&:before {
		content: '';
		position: absolute;
		width: 35px;
		height: 35px;
		top: 0px;
		left: 0px;
		border-top: solid 2px $azul;
		border-left: solid 2px $azul;
		@include maxw(table_max) {
	    	width: 30px;
			height: 30px;
	    }
	}
	h2,h3,h4 {
		font-family: 'nexa_bold';
		font-size: 40px;
		line-height: 50px;
		color: $skyblue;
		@include maxw(tablet_p) {
			font-size: 30px;
			line-height: 30px;
		}
		&:after {
			content: '.';
			color: $orange;
		}
	}
	&--white {
		h2,h3,h4 {
			color: white;
		}
	}
	&--red {
		h2,h3,h4 {
			&:after {
				color: $red;
			}
		}
	}
	&--little {
		h2,h3,h4 {
			font-size: 18px;
			line-height: 22px;
		}
	}
	&--nopoint {
		h2,h3,h4 {
			&:after {
				display: none;
			}
		}
	}
	&--after--skyblue {
		h2,h3,h4 {
			&:after {
				color: $skyblue;
			}
		}
	}
}

