/* Imports */
@import "fonts";
@import "variables";
@import "main";
@import "buttons";
@import "titles";
@import "content";
@import "navigation";
@import "form";
body {
	font-family: 'nexa_light';
	margin: 0px;
	background: #f8f8f8;
	color: $skyblue;
}
h1,h2,h3,h4 { font-family: 'nexa_bold'; }
h1,h2,h3,h4,p,menu,main,section {margin:0px; }
a {text-decoration:none;&:hover {text-decoration: none;}}
ul { padding: 0px;margin: 0px;list-style: none;}
input {outline:none;}
.fullheight {
	height: 100vh;
	@include maxw(table_min) {
		min-height: 600px;
	}
}
.x-padd-container {
    padding: 0px 50px;
}
.box {
    padding: 20px 35px;
    box-shadow: 0 2px 45px 0 rgba(0,0,0,0.10);
    @include maxw(table_max) {
        padding: 10px 15px;
    }
}
.onlyMobile {
	display: none;
	@include maxw(table_min) {
		display: block;
	}
}
.x-container {
	margin: auto;
	max-width: calc(100% - 600px);
	@include maxw(mylaptop) {
		max-width: calc(100% - 100px);
	}
	@include maxw(laptop) {
		max-width: calc(100% - 200px);
	}
	@include maxw(tablet_p) {
		max-width: calc(100% - 40px);
	}
	@include maxw(table_max) {
		max-width: calc(100% - 40px);
	}
	@include maxw(table_min) {
		max-width: calc(100% - 40px);
	}
	@include maxw(mobile) {
		max-width: calc(100% - 40px);
	}
}
.left-container {
	margin-left: 300px;
	max-width: calc(100% - 300px);
	@include maxw(mylaptop) {
		margin-left: 100px;
		max-width: calc(100% - 100px);
	}
	@include maxw(laptop) {
		margin-left: 100px;
		max-width: calc(100% - 200px);
	}
	@include maxw(tablet_p) {
		margin-left: 50px;
		max-width: calc(100% - 100px);
	}
	@include maxw(table_max) {
		margin-left: 20px;
		max-width: calc(100% - 40px);
	}
	@include maxw(table_min) {
		margin-left: 20px;
		max-width: calc(100% - 40px);
	}
	@include maxw(mobile) {
		margin-left: 20px;
		max-width: calc(100% - 40px);
	}
}
.form__close {
    position: absolute;
    color: white;
    width: 20px;
    text-align: center;
    cursor: pointer;
    right: 10px;
    top: 10px;
}
.background-banner {
    margin-top: 80px;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    @include maxw(table_max) {
    	padding-top: 40px;
    	padding-bottom: 40px;
    	margin-top: 0px;
    }
    &:after {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: black;
	    opacity: 0.3;
	    top: 0;
	    left: 0;
	    z-index: -1;
	}
    .flex-c {
	    display: flex;
	    justify-content: space-between;
	    @include maxw(table_max) {
	    	display: block;
	    }
	    .left {
		    width: 500px;
		    @include maxw(table_max) {
		    	width: 100%;
		    }
		    p {
		    	margin-top: 20px;
		    	color: white;
		    	font-size: 18px;
    			line-height: 26px;
		    }
		}
		.right {			
			.contacto {
			    width: 450px;
			    box-sizing: border-box;
			    padding: 25px 20px;
			    background: white;
			    border-radius: 5px;
			    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.31);
			    position: relative;
			    top: -150px;
			    margin-bottom: -100px;
			    @include maxw(table_max) {
			    	width: 100%;
			    	top: 0px;
			    	margin-bottom: 0px;
			    }
			    .center_title {
				    text-align: center;
				    font-weight: 700;
				    margin: auto;
				    font-size: 22px;
				    margin-bottom: 20px;
				}
				.flexInput {
				    display: flex;
				    justify-content: space-between;
				    @include maxw(table_max) {
					    display: block;
					}
				    .inputCrow {
					    box-sizing: border-box;
					    width: calc(50% - 10px);
					    margin-bottom: 15px;					    
					    &.fullcrow {
					    	width: 100%;
					    }
					    @include maxw(table_max) {
					    	width: 100%;
					    }
					    label {
						    display: block;
						    font-size: 14px;
						    font-weight: 700;
						}
						br {
						    display: none;
						}
						span {
						    display: block;
						}
						input {
						    width: 100%;
						    box-sizing: border-box;
						    border: solid 1px #cccccc;
						    padding: 10px;
						    border-radius: 5px;
						    background: #f8f8f8;
						    font-family: 'nexa_light';
						}
					}
				}
				.textFull {
					margin-bottom: 15px;
					label {
					    display: block;
					    font-size: 14px;
					    font-weight: 700;
					}
					br {
					    display: none;
					}
					span {
						display: block;
					}
					textarea {
					    box-sizing: border-box;
					    width: 100%;
					    height: 80px;
					    border: solid 1px #cccccc;
					    padding: 10px;
					    border-radius: 5px;
					    background: #f8f8f8;
					    font-family: 'nexa_light';
					}
				}
			}
		}
	}
}
.swiper-pagination {
    position: relative;
    bottom: 0px !important;
    transform: none;
	margin-top: 30px;
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		background: transparent;
		border: solid 2px $azul;
		position: relative;
		&.swiper-pagination-bullet-active {
			&:before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				background: $azul;
				border-radius: 50%;
				left: 2px;
				top: 2px;
			}
		}
	}
}


::-webkit-scrollbar-thumb {
    background: $azul;
    border-radius: 10px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar {
    width: 12px;
    height: 5px;
    @include maxw(table_max) {
		width: 5px;
    	height: 5px;
	}
}
