/* Imports */
@import "fonts";
@import "variables";
@import "main";
@import "buttons";
@import "titles";
@import "content";
@import "navigation";
@import "form";
body {
	font-family: 'nexa_light';
	margin: 0px;
	background: #f8f8f8;
	color: $skyblue;
}
h1,h2,h3,h4 { font-family: 'nexa_bold'; }
h1,h2,h3,h4,p,menu,main,section {margin:0px; }
a {text-decoration:none;&:hover {text-decoration: none;}}
ul { padding: 0px;margin: 0px;list-style: none;}
input {outline:none;}
.fullheight {
	height: 100vh;
	@include maxw(table_min) {
		min-height: 600px;
	}
}
.x-padd-container {
    padding: 0px 50px;
}
.box {
    padding: 20px 35px;
    box-shadow: 0 2px 45px 0 rgba(0,0,0,0.10);
    @include maxw(table_max) {
        padding: 10px 15px;
    }
}
.onlyMobile {
	display: none;
	@include maxw(table_min) {
		display: block;
	}
}
.x-container {
	margin: auto;
	max-width: calc(100% - 600px);
	@include maxw(mylaptop) {
		max-width: calc(100% - 100px);
	}
	@include maxw(laptop) {
		max-width: calc(100% - 200px);
	}
	@include maxw(tablet_p) {
		max-width: calc(100% - 40px);
	}
	@include maxw(table_max) {
		max-width: calc(100% - 40px);
	}
	@include maxw(table_min) {
		max-width: calc(100% - 40px);
	}
	@include maxw(mobile) {
		max-width: calc(100% - 40px);
	}
}
.left-container {
	margin-left: 300px;
	max-width: calc(100% - 300px);
	@include maxw(mylaptop) {
		margin-left: 100px;
		max-width: calc(100% - 100px);
	}
	@include maxw(laptop) {
		margin-left: 100px;
		max-width: calc(100% - 200px);
	}
	@include maxw(tablet_p) {
		margin-left: 50px;
		max-width: calc(100% - 100px);
	}
	@include maxw(table_max) {
		margin-left: 20px;
		max-width: calc(100% - 40px);
	}
	@include maxw(table_min) {
		margin-left: 20px;
		max-width: calc(100% - 40px);
	}
	@include maxw(mobile) {
		margin-left: 20px;
		max-width: calc(100% - 40px);
	}
}
.swiper-pagination {
    position: relative;
    bottom: 0px !important;
    transform: none;
	margin-top: 30px;
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		background: transparent;
		border: solid 2px $azul;
		position: relative;
		&.swiper-pagination-bullet-active {
			&:before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				background: $azul;
				border-radius: 50%;
				left: 2px;
				top: 2px;
			}
		}
	}
}


::-webkit-scrollbar-thumb {
    background: $azul;
    border-radius: 10px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar {
    width: 12px;
    height: 5px;
    @include maxw(table_max) {
		width: 5px;
    	height: 5px;
	}
}
