@import "variables";
@import "utilities";
.title--nopoint {
	h3 {
		a {
		    font-size: 25px;
		    display: block;
		    margin-bottom: 20px;
		    color: #000a42;
		}
	}
}
.init {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    @include maxw(laptop) {
    	height: 300px;
    }
	&:after {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	    background: black;
	    top: 0;
	    left: 0;
	    opacity: 0.3;
	}
	.titlePrincipal {
	    width: 100%;
	    position: relative;
	    .title {
		    margin-bottom: 0px;
		    h1 {
			    font-size: 65px;
			    color: white;
			    @include maxw(laptop) {
			    	font-size: 45px;
			    }
			    @include maxw(table_min) {
				    font-size: 35px;
				}
				@include maxw(mobile) {
					font-size: 22px;
				}
			}
		}
		.social-bottom {
		    position: absolute;
		    right: 0px;
		    color: white;
		    display: flex;
		    bottom: -150px;
		    @include maxw(laptop) {
			    bottom: -50px;
			}
		    ul {
    			margin-left: 5px;
			    display: flex;
			    li {
				    margin-right: 7px;
				    a {
					    color: white;
					    font-size: 18px;
					}
				}
			}
		}
	}
}

#ajaxsearchlite1 .probox, div.asl_w .probox {
    background: #000a42 !important;
}
div.asl_w .probox .promagnifier {
    background: #ff302a !important;
}
div.asl_m .probox .promagnifier .innericon {
    background: #ff302a !important;
}
div[id*='ajaxsearchlite'].wpdreams_asl_container {
    border-radius: 5px;
    overflow: hidden;
}
div.asl_r.vertical {
    background: #e4e3e3 !important;
}
div[id*='ajaxsearchliteres'].wpdreams_asl_results .results div.asl_image {
    display: none !important;
}
.tags-title {
    display: inline-flex;
    align-items: center;
    width: auto;
    position: relative;
    z-index: 4;
    margin: 20px 0px;
    background: white;
    @include maxw(table_min){
    	display: block;
    }
    .ss {
	    margin-right: 15px;
	    @include maxw(table_min){
	    	margin-right: 0px;
	    	margin-bottom: 5px;
	    }
	}
	h3 {
		@include maxw(table_min){
	    	display: none;
	    }
	}
    .flex {
	    display: flex;
	    align-items: center;
	    margin-left: 20px;
	    @include maxw(table_min){
	    	margin-left: 0px;
	    }
	    a {
		    display: block;
		    border: solid 1px #000a42;
		    padding: 5px 10px;
		    margin-right: 10px;
		    color: #000a42;
		    border-radius: 5px;		    
		    &.active {
			    background: #000a42;
			    color: white;
			}
		}
	}
}
.noticias__item {
    width: calc(33.33% - 20px);
    border: solid 1px rgba(181, 181, 181, 0.47);
    margin-bottom: 20px;
    flex: none;
    @include maxw(table_max) {
    	width: calc(50% - 20px);
    }
    @include maxw(table_min) {
    	width: 100%;
    }
    &__img {
	    position: relative;
	    img {
		    display: block;
		    width: 100%;
		    height: 200px;
		    object-fit: cover;
		}
		&:before {
			content: '';
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    background: black;
		    z-index: 1;
		    opacity: 0.2;
		}
	}
	&__date {
	    position: absolute;
	    color: white;
	    top: 10px;
	    right: 10px;
	    display: flex;
	    z-index: 2;
	    svg {
		    margin-right: 7px;
		    path {
			    fill: white;
			}
		}
	}
	&__content {
	    padding: 15px 20px;
	    .tag {
		    margin-bottom: 5px;
		    a {
		    	color: #000a42;
		    	&:after {
				    content: ',';
				    margin-right: 5px;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
		    }
		}
	}
}
.pagination {
	margin-top: 20px;
	.navigation {
		text-align: center;
		span {
			display: inline-block;
		    color: #000a42;
		    width: 20px;
		    border-bottom: solid 1px #868686;
		    margin-right: 5px;
		}
		a {
			display: inline-block;
		    color: #ff302a;
		    font-weight: 700;
		    min-width: 20px;
		}
	}
}
.pagination .navigation a.prev svg {
    display: none;
}
.noticias__right__content__swiper {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-blog  {
	.box {
		background: white;
	    max-width: 950px;
	    position: relative;
	    top: -100px;
	    z-index: 5;
	    @include maxw(table_max) {
	    	top: -70px;
	    }
		.tags {
			.flex {
			    display: flex;
			    align-items: center;
			    margin-bottom: 10px;
			    padding: 10px 0px;
			    border-bottom: solid 2px #eaeaea;
			    flex-wrap: wrap;
			    .date {
				    display: flex;
				    align-items: center;
				    opacity: 0.5;
				    margin-right: 15px;
				    svg {
					    margin-right: 5px;
					}
				}
				.views {
					margin-right: 15px;
				}				
				.autor {
					margin-right: 15px;					
				}
				.tag {
					a {
					    border: solid 1px #000a42;
					    color: #000a42;
					    border-radius: 5px;
					    padding: 6px 9px;
					    display: inline-block;
					    &:after {
						    content: ',';
						    margin-right: 5px;
						}
						&:last-child {
							&:after {
								display: none;
							}
						}
					}
				}
			}
		}
		.contenido {
			h2 {
			    margin-top: 40px;
			    margin-bottom: 15px;
			    font-size: 24px;
			    position: relative;
			    padding-top: 6px;
			    padding-left: 10px;
			    &:after {
				    content: '.';
				    color: #ff302a;
				    font-size: 35px;
				    line-height: 24px;
				}
				&:before {
				    content: '';
				    position: absolute;
				    width: 15px;
				    height: 15px;
				    border-left: solid 1px #ff302a;
				    border-top: solid 1px #ff302a;
				    left: 0px;
				    top: 0px;
				}
			}
			p {
			    text-align: justify;
			    font-size: 16px;
			    line-height: 22px;
			}
		}
	}
}
.related {
	.related_c {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    margin-bottom: 20px;
	    margin-top: 20px;
	    flex-wrap: wrap;
	    @include maxw(table_max) {
	    	flex-wrap: wrap;
	    }
	}
}
.fb-comments iframe {
    width: 100% !important;
}
.contenido h3 {
    margin-top: 40px;
}
.fb-comments {
    margin-top: 10px;
}