@import "utilities";
@import "variables";
.init {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
	&:after {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	    background: black;
	    top: 0;
	    left: 0;
	    opacity: 0.3;
	}
	.titlePrincipal {
	    width: 100%;
	    position: relative;
	    top: 58px;
	    .title {
		    margin-bottom: 0px;
		    h1 {
			    font-size: 55px;
			    color: white;
			}
		}
	}
}

.partertLemento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .pp {
	    width: calc(25% - 20px);
	    margin: 15px 0px;
	    position: relative;
	    border: solid 1px #dadada82;
	    padding: 20px;
	    box-sizing: border-box;
	    img {
		    width: 100%;
		    display: block;
		    filter: grayscale(1);
		}
		span {
		    position: absolute;
		    left: 0;
		    background: rgba(51, 116, 172, 0.8);
		    height: 100%;
		    width: 100%;
		    display: flex;
		    top: 0;
		    align-items: center;
		    text-align: center;
		    box-sizing: border-box;
		    padding: 10px;
		    color: white;
		    transition: 0.3s;
		    transform: scale(0);
		    opacity: 0;
		}
		&:hover {
			span {
			    transform: scale(1);
			    opacity: 1;
			}
		}
	}
}